version: '3.8'

services:
  nginx:
    container_name: nginx-container
    image: nginx:latest
    depends_on:
      - albalog
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./src/config/nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    restart: always
    command: >
      /bin/sh -c "while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g 'daemon off;'"

  albalog:
    container_name: albalog-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: always

  mysql:
    container_name: mysql-container
    image: mysql:latest
    ports:
      - '3306:3306'
    volumes:
      - /home/ubuntu/mysql_data:/var/lib/mysql
    env_file:
      - .mysql_env
    restart: always

  certbot:
    image: certbot/certbot
    restart: always
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
